@use "colors";

/* -- Frontpage -------------------------- */
.style-wrap {
    position: relative;
    height: 100vh;
    background-color: black;
    z-index: -1;
}

.frontpage {
    position: relative;
    height: 100vh;
}

.frontpage::before {
    content: "";
    background-image: url(../src/images/dogs-chilling-cropped-mobile.jpg);
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.presentation {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.presentation p {
    // text-align: left;
    line-height: 170%;
}

.hire-btn {
    width: 170px;
    height: 45px;
    border-radius: 30px;
    color: colors.$dark-purple;
    font-size: 19px;
    margin-top: 10px;
    border: none;
}

.hire-btn:hover {
    background-color: colors.$dark-purple;
    color: white;
}

/* -- Tablet -------------------------- */
@media screen and (min-width: 768px) {
    
    .presentation {
        text-align: left;
        padding: 0;
    }

    .presentation p {
        padding: 50px;
    }

    .hire-btn {
        position: absolute;
        top: 0px;
        right: 0;
        margin: 25px;
    }
};