// This file contains very basic style rules

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

.menu-hidden {
  transform: translateY(-150%);
  overflow-y: hidden;
}
