// This file contains all css rules related to the site header.

header {
  padding: 0.3em 0;
  position: relative;
  @include tablet {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 0;
    padding-right: 4em;
  }
  @include desktop {
    padding-top: 1.2em;
    padding-left: 6em;
    padding-right: 6em;
  }
  #cities {
    ul {
      li:not(.bali-image) {
        display: none;
        @include tablet {
          display: block;
        }
      }
      li img {
        height: toRem(50);
        @include tablet {
          height: toRem(61);
        }
        @include desktop {
          height: toRem(68);
        }
      }
    }
  }
  button {
    height: 100%;
    padding: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    @include tablet {
      padding: 2.4em;
    }
    div {
      background-color: $color-orange;
      border-radius: 1em;
      height: toRem(3.12);
    }
    :nth-child(1) {
      width: toRem(22.31);
    }
    :nth-child(2) {
      width: toRem(19.35);
    }
    :nth-child(3) {
      width: toRem(24.88);
    }
  }
}
